<div id="topBanner" class="top-banner">
  <div class="banner-user">
    
    {{#if username}}
    <span id="activeUser">Signed in as {{username}}</span>
    {{/if}}

    {{#unless username}}
    <span id="activeUser" style="text-align: center">Welcome to the News Headline Ranking Game!</span>
    {{/unless}}

    {{#if rank}}
    <div class="user-stats">
      <span id="userRank">Rank: {{rank}} / {{total}}</span>
      <span id="userScore">Score: {{score}}</span>
    </div>
    {{/if}}
  </div>

  <div class="banner-actions">
    <form action="/logout" method="get" style="display:inline;">
      <button type="submit" class="banner-btn">Change User</button>
    </form>
    <!-- Game Info uses same GET form pattern as other buttons with a swithc condition to show Main Menu button vs Game Info button -->
    {{#if isInfoPage}}
    <form action="/main" method="get" style="display:inline;">
      <button type="submit" id="mainMenuBtn" class="banner-btn">Main Menu</button>
    </form>
    {{else}}
    <form id="infoForm" action="/info" method="get" style="display:none;"></form>
    <button type="submit" form="infoForm" id="gameInfoBtn" class="banner-btn">
      Game Info
    </button>
    {{/if}}
  </div>
</div>
